<div class="ui container text" >
	<br>
	  <div class="ui header">Edit Post</div>
	  <div class="scrolling content">
        {{#each results}}
	    <form class="ui form" action="/admin/edit/:id/update" method="POST" enctype="multipart/form-data">
		  <input type="hidden" name="id" value="{{ id }} ">
		  <div class="field">
		    <label>Title</label>
		    <input type="text" name="title" value="{{ article_title }} "placeholder="First Name">
		  </div>
		  	<div class="field">
		      	<label>Content</label>
		        <textarea class="ckeditor" id="ckedtor" name="content">{{ article_content }}</textarea>
		    </div>
			<div>
			<img class="ui small rounded centered image" src="/assets/upload/{{article_image}}">
			</div>
		    <div class="field">
		    	 <label>Upload Image</label>
		    	 <input type="file" name="image">
		    </div>
		  <div class="actions">
		    <button class="ui approve button">Cancel</button>
		    <button type="submit" class="ui positive button">Save Changes</button>
		  </div>
		</form>
        {{/each}}
	  </div>
	</div>